{% extends "layout.html" %}
{% block content %}
   <br>
   <br>
   <br>
<form action="/carrera_fagrega" method="post">
   <div class="container">
          <div class="form-row">
               <div class="col-xs-12 ">
                <div class="mb-3" class="minap">
                      <label for="descripcion" class="minap">Agregar Carrera</label>
                      <input type="text" class="form-control" name="descripcion" id="descripcion"></input>
                </div>
                </div>
          </div>
    </div>
          <button type="submit" class="btn btn-outline-light">Enviar</button>
</form>
{% endblock %}