
{% extends "layout.html" %}

{% block content %}
  <div class="tablass">
    <table class="bordercolor">
    <tbody>
    <tr>
    <td class="minap" valign="top">
      <div class="mintit">
        <h3 class="center">IDIOMAS REGISTRADAS</h3>
      </div>
    <table class="table table-dark table-hover" class="bordercolor">
    <thead>
      <tr>
        <td>Descripción</td>
        <td></td>
        <td> <rigth><h2><a href="/idioma_agregar"  class="btn btn-dark btn-sm">Agregar Idioma</a></h2></rigth>  </td>
      </tr> 
    </thead>
    <tbody>
    {% for i in comentarios %}
        <tr>
        <td width="60%">
           {{i.1}}
        </td>

        <td width="8%" class="center">
        <a href="/idioma_editar/{{i.0}}" class="btn btn-outline-info btn-sm ">Editar</a>
        </td>
        <td width="8%" class="center">
        <a href="/idioma_borrar/{{i.0}}" class="btn btn-outline-primary btn-sm">Borrar</a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
  </div>
{% endblock %}